@model AguasNico.Models.ViewModels.Transfers.CreateViewModel
@using System.Globalization
@{
    ViewData["Title"] = "Transferencias";
}

<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">

<script src="~/lib/datatables/datatables.min.js"></script>
<script src="~/js/custom/transfers/create.js"></script>

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Transferencias</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Transfers" asp-action="Index">Transferencias</a></li>
                <li class="breadcrumb-item active">Nueva</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title">Listado de clientes</h2>
                    <hr />
                    <form id="form-searchByName" method="get" asp-area="" asp-controller="Clients" asp-action="SearchByName" class="form-material">
                        <div class="row">
                            <div class="form-group col-12 col-sm-6 col-md-4">
                                <input id="clientName" name="name" type="text" class="form-control form-control-line">
                                <span class="help-block text-muted">
                                    <small>Nombre del cliente</small>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table id="DataTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                    <th>Teléfono</th>
                                    <th>Deuda</th>
                                    <th>Reparto</th>
                                </tr>
                            </thead>
                            <tbody id="table_body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>