@page {
    margin-top: 3cm;
    @top-left {
        content: " ";
    }
    @top-center {
        content: " ";
    }
    @top-right {
        content: " ";
    }
    @bottom-right {
        content: counter(page) " of " counter(pages);
    }
}

.clientContent {
    page-break-inside: avoid !important; 
    width: 100%;
}